:root{
    --dark-brown: #562c2c;
    --light-bague: #f5dfbb;
    --dark-bague : #A67674;
    --black-01: #001219;
    --khaki : #B6AD90;
}

.text-dark {
    color: var(--black-01)
}

.bg-brown{
    background-color: var(--dark-brown);
}

.text-color{
    color: var(--light-bague);
}

.navbar-light .navbar-brand {
    color: var(--light-bague);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light-bague);
}

.nav-item{
    padding: 3px;
}

.fab {
    font-size: 20px;
    color: var(--light-bague);
}

.footer {
    background-color: var(--dark-brown);
    color: var(--light-bague);
}

a {
    color: var(--light-bague);
    text-decoration: none;
}

a:hover {
    color: #000;
}
.btn-lg {
    background-color: var(--light-bague);
}
.btn:hover {
    background-color: var(--dark-brown);
    color: #ffff;
}

.hero-btn{
    border: 2px solid #001219;
    color: #001219;
}

.btn-primary:hover {
    border-color: #001219;
}

.btn-outline-primary {
    color: var(--black-01);
    border: none;}

.jumbotron {
    background-color: var(--khaki);
    height: 100%;
}

textarea{
    resize:none
}

.alert-success {
    color:  var(--black-01);
    background-color: var(--khaki);
}
.hero {
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_960_720.jpg");
    position: relative;
    z-index: 1;
    background-position: right;
}

.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5dfbb;
    opacity: 0.3;
    z-index: 2;
    content: "";
}

.container-fluid.hero > div.row {
    z-index: 3;
    position: relative;
}

.register-wrapper {
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_960_720.jpg");
    position: relative;
    z-index: 1;
    background-position: right;
}

.bg-color-kh {
    background-color: var(--khaki);
}

.registration-container {
    min-height: 100vh;
}


@media(min-width: 768px){
    .hero {
        background-position: initial;
    }
}

.hero > .container{
    
}