:root{
    --dark-brown: #562c2c;
    --light-bague: #f5dfbb;
    --dark-bague : #A67674;
    --black-01: #001219;
    --khaki : #B6AD90;
}

.text-dark {
    color: var(--black-01)
}

.bg-brown{
    background-color: var(--dark-brown);
}

.text-color{
    color: var(--light-bague);
}

.navbar-light .navbar-brand {
    color: var(--light-bague);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light-bague);
}

.fab {
    font-size: 20px;
    color: var(--light-bague);
}

.footer {
    background-color: var(--dark-brown);
    color: var(--light-bague);
}

a {
    color: var(--light-bague);
    text-decoration: none;
}

a:hover {
    color: black;
}
.btn-lg {
    background-color: var(--light-bague);
}
.btn:hover {
    background-color: var(--dark-brown);
}

