{% extends 'index.html' %}
{%  block content %}
<!--Hero section-->
<div class="container-fluid hero">
    <div class="container">
        <div class="px-4 py-5 mb-5 text-center">
            <h1 class="display-5 fw-bold mt-5">Welcome to our library</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Here you can find our library section</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button"
                        class="btn btn-outline-secondary btn-lg px-4 gap-3 center text-dark">Library</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}