{% extends 'index.html' %}
{%  block content %}
<div class="loginpage-wrapper">
    <div
        class="container registration-container d-flex justify-content-center align-items-md-stretch flex-column align-items-center">
        <div class="row shadow-lg p-3 mb-5 bg-body rounded w-100 justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 my-md-auto">
                <h1 class="text-center">Login</h1>
                <h4 class="text-center">You don't have account?
                    Register here</h4>
                <a href="{{ url_for('registerpage') }}">
                    <div class="d-grid my-4">
                        <button type="button" class="btn btn-lg">Register</button>
                    </div>
                </a>
            </div>
            <div class="col-10 col-sm-8 col-md-6 my-md-auto">
                <form role="form" method="POST" action="{{ url_for('loginpage') }}">
                    <fieldset>
                        <h2> Login using your account: </h2>
                        <div class="form-group">
                            <input type="username" name="username" id="username" class="form-control input-group-lg"
                                placeholder="Username">
                        </div>
                        <div class="form-group my-3">
                            <input type="password" name="password" id="password" class="form-control input-group-lg"
                                placeholder="Password">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-lg float-end " value="Login">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}